@import '../node_modules/normalize.css/normalize';
@import './vars/fonts';

body {
  font-size: $root-fs;
  line-height: $root-lh;
  font-family: $root-font-family-basic;
}

@import './input/input.scss';
@import './checkbox/checkbox.scss';
@import './button/button.scss';
@import './link/link.scss';
