<label class="cp-checkbox">
  <input type="checkbox" value="check"> Check
</label>
<div class="code">
  <textarea>
    <label class="cp-checkbox">
      <input type="checkbox" value="check"> Check
    </label>
  </textarea>
</div>
<hr>
<div class="cp-list-checkboxes">
  <p>List:</p>
  <ul>
    <li>
      <label class="cp-checkbox">
        <input type="checkbox" value="check"> Check
      </label>
    </li>
    <li>
      <label class="cp-checkbox">
        <input type="checkbox" value="check"> Checkdas sd sa d sa dsa d as d as d asd as d sa d sa das d sad a <a href="https://www.google.es/?gws_rd=ssl" target="_blank">sdsa ds</a> dsads dsa dsa sd sds sa ds dsd sads dsa ds ds dsa dsa dsa dsa ds ds ds sa sad sa
      </label>
    </li>
  </ul>
</div>
<div class="code">
  <textarea>
    <div class="cp-list-checkboxes">
      <p>List:</p>
      <ul>
        <li>
          <label class="cp-checkbox">
            <input type="checkbox" value="check"> Check
          </label>
        </li>
        <li>
          <label class="cp-checkbox">
            <input type="checkbox" value="check"> Checkdas sd sa d sa dsa d as d as d asd as d sa d sa das d sad a <a href="https://www.google.es/?gws_rd=ssl" target="_blank">sdsa ds</a> dsads dsa dsa sd sds sa ds dsd sads dsa ds ds dsa dsa dsa dsa ds ds ds sa sad sa
          </label>
        </li>
      </ul>
    </div>
  </textarea>
</div>