<ul class="ul-palette">
  <li>
    <div class="palette-item cp-root-color-primary"></div>
    <p>$root-color-primary</p>
  </li>
  <li>
    <div class="palette-item cp-root-color-dark"></div>
    <p>$cp-root-color-dark</p>
  </li>
  <li>
    <div class="palette-item cp-root-color-gray"></div>
    <p>$cp-root-color-gray</p>
  </li>
  <li>
    <div class="palette-item cp-root-color-white"></div>
    <p>$cp-root-color-white</p>
  </li>
  <li>
    <div class="palette-item cp-root-color-info"></div>
    <p>$cp-root-color-info</p>
  </li>
  <li>
    <div class="palette-item cp-root-color-error"></div>
    <p>$cp-root-color-error</p>
  </li>
</ul>