<div class="cp-form-field">
  <label class="cp-label" for="id-input">Texto:</label>
  <p class="cp-error-message">Soy un error!!</p>
  <input class="cp-input" id="id-input" type="text" value="hola">
</div>
<div class="cp-form-field">
  <label class="cp-label" for="id-input-2">Texto + ayuda:</label>
  <p class="cp-help-text">Help text un poc mas largo y tal un poco mas aún que llegamos</p>
  <p class="cp-error-message">Soy un error!!</p>
  <input class="cp-input" id="id-input-2" type="text" value="hola">
</div>
<div class="cp-form-field error">
  <label class="cp-label" for="id-input-3">Texto + ayuda + error:</label>
  <p class="cp-help-text">Help text un poc mas largo y tal un poco mas aún que llegamos</p>
  <p class="cp-error-message">Soy un error!!</p>
  <input class="cp-input" id="id-input-3" type="text" value="hola">
</div>
<div class="cp-form-field">
  <label class="cp-label" for="id-input-3">Password:</label>
  <p class="cp-help-text">Help text un poc mas largo y tal un poco mas aún que llegamos</p>
  <p class="cp-error-message">Soy un error!!</p>
  <input class="cp-input" id="id-input-3" type="password">
  <button class="cp-link">Mostrar</button>
</div>