<sidebar class="dp-sidebar">
  <ul>
    <li>
      <a href="colors.html">Colors</a>
    </li>
    <li>
      <a href="font.html">Font</a>
    </li>
    <li>
      <a href="media-queries.html">Media Queries</a>
    </li>
    <li>
      <a href="text.html">Text</a>
    </li>
    <li>
      <a href="input.html">Input</a>
    </li>
    <li>
      <a href="button.html">Button</a>
    </li>
    <li>
      <a href="link.html">link</a>
    </li>
    <li>
      <a href="checkbox.html">Checkbox</a>
    </li>
    <li>
      <a href="context-notification.html">Context Notifications</a>
    </li>
    <li>
      <a href="structure.html">Structure</a>
    </li>
  </ul>
</sidebar>
