$root-color-primary: blue;
$root-color-dark: #000;
$root-color-gray: #999;
$root-color-light: #fff;
$root-color-info: #24BABC;
$root-color-info-dark: #006666;
$root-color-error: #F86154;
$root-color-error-dark: #951000;
