/* Dependecia de: text.scss */
@import '../vars/colors.scss';

$local-color-info: $root-color-info-dark;
$local-bg-info: $root-color-info;
$local-color-error: $root-color-error-dark;
$local-bg-error: $root-color-error;

.cp-context-notification {
  color: $local-color-info;
  background: $local-bg-info;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;

  > h4 {
    margin-bottom: 10px;
    color: inherit;
  }

  p {
    color: inherit;
  }

  &.error {
    color: $local-color-error;
    background: $local-bg-error;
  }
}
